<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <template v-for="i in 3">
         <div ref="my">我的dom元素</div>
        </template> 
        <my-component ref="com"></my-component>
    </div>
    <script src="node_modules/vue//dist/vue.js"></script>
    <script>
        // props emit   v-bind=$attrs  v-on=$liseners 
        // $parent $child $refs  => ref 
        // ref不能给多个元素设置相同的ref 只识别一个
        // 如果遇到循环 就是多个元素 数组的形势 
        // 如果给组件增加ref 那么可以获取组件的实例 调用组件实例上的方法 （一些场见的库，通过这种方式 暴露一些方法）
        let vm = new Vue({
            el:'#app',
            mounted(){
                console.log(this.$refs.my);
                console.log(this.$refs.com.show());
            },
            components:{
                'myComponent':{
                    methods:{
                        show(){
                            alert(1);
                        }
                    },
                    template:`<div>my-component</div>`
                }
            }
        });
        // 过滤器 
        // 我想在输入框中限制输入的内容的长度不能超过3个 
        // 指令 v-model v-html v-text {{}} v-cloak v-if/v-else v-show v-pre
    </script>
</body>
</html>